$writing-color: #aaa8a6;
$highlight-color: #c67153;
$primary-color: #daa692;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery{
    height: auto;
    margin-top: 80px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.gallery-title{
    font-size:12px;
    color:$primary-color;
    font-weight: normal;
}
.g-h1-1{
    font-weight: normal;
}
.gallery p{
    color: $writing-color;
    font-size: 14px;
    text-align: center;
}
.st{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-filter{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.fl-row{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.fl-row  li{
    list-style: none;
    font-size: 13px;
    background-color: rgb(223, 219, 219);
    padding: 5px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 11px;
}
.fl-row li.active {
  background-color: #c67153;
  color: white;
}
.img-gallery{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    width: 80vw;
    height: auto;
}
.img-item{
    width: 220px;
    height: 280px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: #aaa8a6;
}
.img-item .img-overlay{
    position: absolute;
     top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.img-item .img:hover .img-overlay{
    opacity: 1;
    pointer-events: auto;
}

.img-item .img-overlay button{
    margin: 5px;
    padding: 6px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}
.img-item .img-overlay .add{
    background-color: $highlight-color;
}
.img-item .img-overlay .view{
    color: black;
}

.img-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
.img-item:hover img{
    transform: scale(1.1);
}
.img-info{
    margin-top: 8px;
}
.img-info .art-name{
    font-size: 12px;
    color: black;
    margin-bottom: 3px;
}
.img-info .art-size{
    font-size: 11px;
    color: $writing-color;
    margin-bottom: 2px;
}
.img-info .art-price{
    font-size: 11px;
    color: $highlight-color;
    font-weight: bold;
}